<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% visibility = (params[:query] == nil ? "hidden" : "visible") %>
<div class = "results" style="visibility: <%= visibility %>;">
  <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
  <ul>
    <%= search_results(@query) %>
  </ul>
</div>

